<%- include('partiels/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('partiels/nav.ejs') %>
<div class="home-img">
  <img src="/images/home-img.jpg" alt="">
</div>
<%- include('partiels/footer.ejs') %>
