<link rel="stylesheet" href="/stylesheets/nav.css">
<nav>
    <img src="https://www.anandapub.in/assets/imgs/logo_home.png" alt="">
    <div class="nav-part1">
        <a class="text-decoration-none btn btn-success" href="/">Home</a>
        <a class="text-decoration-none btn btn-success" href="/register">Register Books</a>
        <a class="text-decoration-none btn btn-success" href="/show">Books</a>
    </div>
</nav>