.swiper {
  width: 80%;
  height: 80%;
  margin-top: 2vw;
}

.swiper-slide {
  padding-left: 4vw;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  gap: 0.5vw;
  align-items: center;
}

.left-info-section {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 9vw 3vw;
}
.left-info-section>h1{
  margin-right:5vw;
}

.left-info-section>div{
  padding-left: 2vw;
}

.left-info-section p>span{
  opacity: 1;
  font-size: 1.3vw;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(58, 189, 21);
  text-decoration: underline;
}

.swiper-slide img {
  display: block;
  width: 40%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

h3>span {
  opacity: 0.5;
}